@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #cd291e; /* Accent Red */
  --secondary-color: #fdb912; /* Accent Yellow */
  --light-color: #fff9ee; /* Light White */
  --dark-color: #231f20; /* Custom Grey */
  --accent-color: #316131; /* Dark Green */
}
